.App {
  text-align: center;
}

.fedFund{
  margin-top: 20px;
  color: saddlebrown;
}

.textboxes{
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}

textarea{
  padding: 10px;
  border-radius: 10px;
}

button{
  border: 1px solid #e4e4e4;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  background-color: aqua;
}

button:hover{
  background-color: aquamarine;
}
