.App{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.fedFund{
  margin-top: 20px;
  color: saddlebrown;
  text-align: center;
}

.textboxes{
  display: flex;
  justify-content: space-evenly;
  /* margin: 20px; */
}

.textboxes > * {
  margin-right: 40px;
}

textarea{
  padding: 10px;
  border-radius: 10px;
}

button{
  border: 1px solid #e4e4e4;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  background-color: aqua;
  text-align: center;

}

button:hover{
  background-color: aquamarine;
}

.progressBar{
  width: 100%;
  background-color: #ddd;
  margin-left: 10px;
}

.gSubBar, .bSubBar, .gPolBar, .bPolBar {
  width: 0%;
  height: 30px;
  background-color: #04AA6D;
  text-align: center;
  line-height: 30px;
  color: white;
}

.bars{
  display: flex;
  align-items: center;
  justify-content: center;
}
